<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3>お気に入り</h3>
        <% current_customer.favorite_shops.each do |shop| %>
          <%= shop.shop_name %>
          <%= shop.address %>
        <% end %>
    </div>
  </div>
</div>