<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>店舗一覧</h2>
      <% @shops.each do |shop| %>
        <%= link_to shop.shop_name, shop_path(shop.id) %>
        <%= shop.shop_name_kana %>
          <p id="favorite_buttons_<%= shop.id %>">
            <%= render 'public/favorites/favorite', shop: shop %>
          </p>
      <% end %>
    </div>
  </div>
</div>