<div class="container">
  <div class="row">
    <h4 class="mt-4 ml-4">
      MENU
    </h4>
  </div>
  <div class="row">
    
  </div>
</div>
<% @menus.each do |menu| %>
  <%= link_to menu_path do %>
    <%= menu.name %>
  <% end %>
<% end %>