<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3>退会処理画面</h3>
      <%= link_to "退会しない", restaurant_shops_path %><br>
      <%= link_to "退会する", restaurant_shop_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか?" %>
    </div>
  </div>
</div>