<div class="container pb-5 mb-5">
  <div class="row">
    <h4 class="mt-5 ml-4">退会処理画面</h4>
  </div>
  <div class="row mt-5">
    <div class="mx-auto">
      <h4>
        退会すると、お店の情報を公開できなくなります。
      </h4>
    </div>
  </div>

  <div class="row mt-4 pt-5">
    <div class="mx-auto">
      <%= link_to "退会しない", restaurant_shops_path, class: "btn btn-outline-secondary" %><br>
    </div>
  </div>
  <div class="row mt-4">
    <div class="mx-auto">
      <%= link_to "退会する", restaurant_shop_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか?", class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>