<div class="container mt-5 mb-5 pb-5">
  <div class="row">
    <h4>gourment guide</h4>
  </div>
  <div class="row">
    <p>～行きたいお店の欲しい情報が見つかる～</p>
  </div>
  <p>会員登録をすると、お気に入り登録や口コミを残すことができます</p>
  <div class="row mt-5">
    <div class="col-md-4 offset-md-2">
      <p>会員登録済みの方</p>
      <div class="ml-4">
        <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>

    <div class="col-md-4 offset-md-2">
      <p>登録がお済ではない方</p>
      <div class="ml-5">
        <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>