<div class="container">
  <div class="row">
    <h1>topページ</h1>
  </div>
  <div class="row">
    <%= link_to "お店の情報を公開したい方はこちら", restaurant_about_path %>
    <%= link_to "お店を探したい方はこちら", new_customer_registration_path %>
  </div>
</div>