<div class="container">
  <div class="row">
    <h1>topページ</h1>
  </div>
  <div class="row">
    <%= link_to "お店の情報を公開したい方はこちら", restaurant_about_path %>
    <%= link_to "お店を探したい方はこちら", about_path %>
  </div>
  <%= link_to "店のログアウト",destroy_shop_session_path,  method: :delete %>
  <%= link_to "一般会員のログアウト", destroy_customer_session_path, method: :delete %>
</div>