<div class="container mb-5 pb-5">
  <div class="row mt-5">
    <div class="mx-auto">
      <h4 class="ml-5">gourment guide amdmin</h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="mx-auto">
      <%= link_to "Customer List", admin_customers_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="mx-auto">
      <%= link_to "Shop List", admin_shops_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="mx-auto">
      <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>