<div class="container mb-5 pb-5">
  <div class="row mt-5 pt-5">
    <div class="mx-auto">
      <h4>お問い合わせ承りました</h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="mx-auto">
      <P>
        ご回答まで少々お待ちください
      </P>
    </div>
  </div>
  <div class="row mt-5 pt-5">
    <div class="mx-auto">
      <%= link_to "トップページに戻る" , root_path %>
    </div>
  </div>
</div>